<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']" [routerLinkActive]="['active']">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="navbar-item"><a class="nav-link active" aria-current="page" [routerLink]="['/']"
            [routerLinkActive]="['active']">Home</a></li>
        <a class="nav-link" [routerLink]="['/juros-compostos']" [routerLinkActive]="['active']">Juros Compostos</a>
        <a class="nav-link" [routerLink]="['/juros-simples']" [routerLinkActive]="['active']">Juros Simples</a>
      </div>
    </div>
  </div>
</nav>