<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1 class="h2 my-3">Calculadora de Juros Simples</h1>

      <div class="card">
        <div class="card-body">
          <h2>Insira os valores</h2>
          <div class="my-3">
            <div class="form-group my-2">
              <label class="form-label"
                >Capital
                <input
                  class="form-control"
                  type="number"
                  [(ngModel)]="capital"
                  min="0"
                />
              </label>
            </div>
            <div class="form-group my-2">
              <label class="form-label"
                >Taxa de juros (Valor decimal)
                <input
                  class="form-control"
                  type="number"
                  [(ngModel)]="taxa"
                  min="0"
                />
              </label>
            </div>
            <div class="form-group">
              <label class="form-label"
                >Tempo (em meses)
                <input
                  class="form-control"
                  type="number"
                  [(ngModel)]="tempo"
                  min="0"
                />
              </label>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <p>
            <span class="badge mx-3">Valor Total</span>
            <span *ngIf="calcularJuros() as calculo"
              >R$ {{calculo.toFixed(2)}}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
