body {
  background-color: #efefef;
  color: #070707;
}

ul {
  list-style-type: none;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

h1,
h2,
label {
  color: #3454d1;
}
