<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1 class="text-center my-3">Olá, Visitante</h1>
      <p class="text-center">Aqui você poderá calcular Juros Simples e Compostos</p>

      <div class="card">
        <div class="card-header">
          <h2 class="h4"> Pedro Luiz Souza Salvino </h2>
        </div>
        <div class="card-body">
          <ul>
            <li><span class="badge mx-3">RA</span> 0050831921022</li>
            <li><span class="badge mx-3">Github</span> <a href="https://github.com/PedroSalvino">PedroSalvino</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>